@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/hover.css/scss/hover";
@import "node_modules/animate.scss/animate.scss";

$first-color: #90afc5;
$second-color: #336b87;
$third-color: #2A3132;
$fourth-color: #763626;
$light: #eee;

body, html {
	height: 100%;
}

body {
	font-family: 'Lato';
	background: $first-color;
	padding-top: 75px;
	color: $third-color;
}

.navbar--Site {
    background-color: $third-color;
    border-bottom: 3px solid $fourth-color;

    .navbar-nav {

    	li > a {
    		color: $first-color;
    		transition: all ease 0.3s;
			&:hover, &:focus {
		    	color: $second-color;
			}
		}

		.open, .open > a, .open > a:hover, .open > a:focus {
			background-color: #444;
    		color: #eee;
		}
	}

	.navbar-brand {
	    color: $light;
	    transition: all ease 0.3s;
		&:hover, &:focus {
		    color: #aaa;
		}
	}
}

.page {
	@include fadeIn($duration: 1.6s);
}

*[v-cloak] {
	display: none;
}

:focus { 
	outline: none !important;
}

.fa-btn {
    margin-right: 6px;
}

.btn--Main {
	transition: all 0.3s ease;
    color: $light;
    background-color: $second-color;
    border-color: $second-color;
    
    &:hover, &:focus {
    	background-color: $third-color;
    	color: $light;
    }
}

.panel--Site {
	border: none;
	border-color: transparent;

	.panel-heading {
	    color: $first-color;
	    background-color: $third-color;
	    border-bottom: 3px solid $fourth-color;
	    font-size: 1.4em;
	}

}



.btn-link-first {
	padding: 6px 12px 6px 0px;
}

.blinking-cursor {
	font-weight: 100;
	font-size: 22px;
	color: $light;
	position: relative;
	top: 0px;
	left: 0px;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes "blink" {
	from, to {
	color: transparent;
	}
	50% {
	color: $light;
	}
}

@-moz-keyframes blink {
	from, to {
	color: transparent;
	}
	50% {
	color: $light;
	}
}

@-webkit-keyframes "blink" {
	from, to {
	color: transparent;
	}
	50% {
	color: $light;
	}
}

@-ms-keyframes "blink" {
	from, to {
	color: transparent;
	}
	50% {
	color: $light;
	}
}

@-o-keyframes "blink" {
	from, to {
	color: transparent;
	}
	50% {
	color: $light;
	}
}