@import "resources/assets/sass/all";

	.Equilibrium {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-bottom: 25px;
		border-bottom: 3px solid $third-color;
	}

	.Equilibrium__Item {
		font-size: 1.5em;
		padding: 0 10px;
		min-width: 50px;
		position: relative;

		&:hover .remove,
		&:focus .remove {
			display: block;
		}

		&:last-child .number:after {
			content: '';
		}

		.number{

			&:after {
				content: ',';
				display: inline-block;
				left: 3px;
    			position: relative;
    		}

		}

		.remove {
			display: none;
			cursor: pointer;
		    font-size: 0.6em;
		    position: absolute;
		    color: $fourth-color;
		    right: 0;
		    top: 0;
		}

		.form-control {
			font-size: 32px;
			padding: 0 7px;
			height: 45px;
			text-align: center;
		}
	}

	.Equilibrium__Input {
		margin-bottom: 25px;

		.InputAddOn-field {
			text-align: center;
		}
	}

	.results {
		font-size: 1.5em;
		padding: 0 25px;

		.error {
			color: $fourth-color;
		}

		.sucess {
			color: #589234;
		}
	}

	.result {
		margin-bottom: 15px;
		display: flex;
		justify-content: space-between;

		.index {
			flex: 0.5;
		}

		.string-1 {
			flex: 5;
		}

		.string-2 {
			flex: 1;
			text-align: right;
		}
	}

