.InputAddOn {
  display: flex;
  margin-bottom: 0.5em;
}

.InputAddOn--Reverse {
	flex-direction: row-reverse;
}

.InputAddOn-item--W100 {
	width: 100%;
}

.InputAddOn-field {
  flex: 1;
}
.InputAddOn-field:not(:first-child) {
  border-left: 0;
}
.InputAddOn-field:not(:last-child) {
  border-right: 0;
}

.InputAddOn-item {
  background-color: rgba(51, 107, 135, 1);
  color: #eee;
  font: inherit;
  font-weight: normal;
  transition: all 0.3s;
}

.InputAddOn-item:hover, .InputAddOn-item:focus {
	background-color: rgba(51, 107, 135, 0.7);
}

.InputAddOn-field,
.InputAddOn-item {
  border: 1px solid rgba(147, 128, 108, 0.25);
  padding: 0.2em 0.25em;
}
.InputAddOn-field:first-child,
.InputAddOn-item:first-child {
  border-radius: 2px 0 0 2px;
}
.InputAddOn-field:last-child,
.InputAddOn-item:last-child {
  border-radius: 0 2px 2px 0;
}
