@import "resources/assets/sass/all";

	body, html{
		background: #222;
		color: #eee;
		height: 100%;
		padding-top: 75px;
	}

	.navbar-default {
	    background-color: #222;
	    border-color: #222;
	}
	
	.navbar-default .navbar-brand {
		display: none;
	}

	.title {
	    font-size: 5em;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.name.space {
		margin-left: 10px;
	}

	.name {
	  animation-duration: .5s;
	}

	.name.highlight {
	  background: #444;
	}

	.blinking-cursor {
		font-weight: 100;
		font-size: 96px;
		color: #eee;
		position: relative;
		top: -10px;
		left: -10px;
		-webkit-animation: 1s blink step-end infinite;
		-moz-animation: 1s blink step-end infinite;
		-ms-animation: 1s blink step-end infinite;
		-o-animation: 1s blink step-end infinite;
		animation: 1s blink step-end infinite;
	}

	@keyframes "blink" {
	  from, to {
	    color: transparent;
	  }
	  50% {
	    color: #eee;
	  }
	}

	@-moz-keyframes blink {
	  from, to {
	    color: transparent;
	  }
	  50% {
	    color: #eee;
	  }
	}

	@-webkit-keyframes "blink" {
	  from, to {
	    color: transparent;
	  }
	  50% {
	    color: #eee;
	  }
	}

	@-ms-keyframes "blink" {
	  from, to {
	    color: transparent;
	  }
	  50% {
	    color: #eee;
	  }
	}

	@-o-keyframes "blink" {
	  from, to {
	    color: transparent;
	  }
	  50% {
	    color: black;
	  }
	}