@import "resources/assets/sass/all";

body{
	background: $third-color;
	color: $light;
}

#landing {
	height: 500px;
}

.navbar-default {
    background-color: $third-color;
    border-color: $third-color;
}

.navbar-default .navbar-brand {
	display: none;
}

.title {
    font-size: 5em;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.name.space {
	margin-left: 10px;
}

.name {
  animation-duration: .5s;
}

.name.highlight {
  background: #444;
}

.blinking-cursor {
	font-size: 96px;
	top: -10px;
	left: -10px;
}
