@import "resources/assets/sass/all";

#login {
	display: flex;
	align-items: baseline;
	justify-content: center;
}

#login .panel {
	min-width: 55%;
}

.flip-enter {
	@include rollIn($duration: 0.5s);
}

.flip-leave {
	@include rollOut($duration: 0.5s);
}

@media(max-width:767px) {

	#login .panel {
		min-width: 96%;
	}
}