@import "resources/assets/sass/all";

#login {
	display: flex;
	align-items: baseline;
	justify-content: center;

	.panel--Site {
		min-width: 55%;
	}
}

.flip-enter {
	@include flipInX($duration: 0.5s);
}

.flip-leave {
	@include flipOutX($duration: 0.5s);
}

.form-horizontal--Flex {
	display: flex;
	height: 100%;
	flex-direction: column;

	.form-group {
		flex: 1 1 auto;
		padding: 0;
	}

	.form-group--H100 {
		flex: 3 1 3em;
	}
}

@media(max-width:767px) {

	#login .panel--Site {
		min-width: 96%;
	}
}