@import "resources/assets/sass/all";

.theater {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;

	.theater__row {
		width: 70%;
	}

	.theater__info {
		background: $third-color;
		color: #eee;
		margin-top: 15px;
	}

	.theater__address {
		border: 1px solid $third-color;
		color: #ddd;
	}
}

.movie {
	background: $light;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;

	.movie__item {
		flex: 1;
		
		&.movie__details{
			margin-left: 20px;
		}

		&.movie__poster {
			flex: 0;
		
			img {
				width: 135px;
				border-radius: 5px 0px 0px 5px;
			}
		}
		
	}

	.movie__times {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 10px;

		.movie__time {
			margin: 10px 10px 0px 0;
		}		
	}

}

.loading-theathers .fa-spinner {
	font-size: 24em;
	color: $third-color;
	position: relative;
	top: 30px;
}

.movie-app-title {
	font-size: 3em;
}

@media(max-width:412px) {

	.theater {

		.theater__row {
			width: 98%;
		}

	}

	.movie {
	    flex-direction: column;

    	.movie__item {

			&.movie__poster {
			
				img {
					width: 100%;
					border-radius: 5px 5px 0px 0px;
				}
			}
			
		}
	}

	.loading-theathers .fa-spinner {
		font-size: 20em;
	}
}

