@import "resources/assets/sass/all";

.theater {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;

	.theater__row {
		width: 80%;
	}

	.theater__info {
		background: $third-color;
		color: #eee;
		margin-top: 15px;
	}

	.theater__address {
		border: 1px solid $third-color;
		color: #ddd;
	}
}

.movie {
	background: $light;
    border-radius: 5px;
    margin-top: 15px;

	.movie__poster {
		margin-left: -15px;
		max-width: 135px;
		border-radius: 5px 0px 0px 5px;
	}

	.movie__details {
		padding-left: 30px;
	}

	.movie_times {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;

		.movie__time {
			margin: 10px 10px 0px 0;
		}		
	}

}

.loading-theathers .fa-spinner {
	font-size: 24em;
	color: $third-color;
	position: relative;
	top: 30px;
}

.movie-app-title {
	font-size: 3em;
}

