/* .squaredOne */
.squaredOne {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 5px auto;
  background: #eee;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.squaredOne label {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  background: $third-color;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.squaredOne label:after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 0;
  background: $second-color;
  opacity: 0;
}
.squaredOne label:hover::after {
  opacity: 0.6;
}
.squaredOne input[type=checkbox] {
  visibility: hidden;
}
.squaredOne input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* end .squaredOne */
